* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Font1';
    src: url('fonts/Azonix.otf');
}

body {
    font-family: 'Font1';
    color: #333;
    background-color: #f9f9f9;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header-logo {
    margin-left: 10vh;
    height: 30px;
    width: auto;
}

header p {
    font-weight: bold;
    margin-left: 1rem;
    color: #333;
}

header p:hover {
    text-decoration: underline;
}

section {
    padding: 3rem 1rem 6rem;
    max-width: 1200px;
    margin: auto;
}

#about {
    text-align: center;
}

#about p {
    margin: 1rem 3.5rem;
    text-align: justify;
}

#about nav {
    display: flex;
    justify-content: center;
}

#about nav img {
    height: 30px;
    width: auto;
    margin: 20px;
}

#about nav img:hover {
    transform: rotate(10deg);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
}

#title-project {
    margin-bottom: 20px;
}

.project {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

.project:hover {
    box-shadow: 0 4px 6px rgba(1, 1, 1, 0.5);
}

.project h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.project p {
    padding: 0 1rem 1.5rem;
    font-size: 0.85rem;
    color: #555;
}

.img-project {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.icone-project {
    width: auto;
    height: 35px;
    margin: 15px 10px 25px;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    background: #333;
    color: white;
}

footer a {
    color: #0071e3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}